# Ignore node_modules in both server and client
/server/node_modules/
/client/node_modules/

# Build/dist folders (if any)
server/dist/
client/dist/

# Python things
api/__pycache__/

# Environment files
*.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Docker-related files (if you want to ignore local volumes, etc.)
docker-volume-data/